<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Cindy Wang's professional website">
    <title>Cindy Wang</title>

</head>
<body style="font-family: Arial">
    <header>
        <h1>Cindy Wang</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Homestead High School</td>
                <td>Graduated high school as valedictorian, graduation speaker, ASB class officer, 
                    and California Scholarship Federation President.</td>
            </tr>
            <tr>
                <td>Carnegie Mellon University</td>
                <td>Studying Information Systems with double major in Artificial Intelligence (undeclared) 
                    and minor in Human Computer Interaction (undeclared), and currently doing research in AI 
                    cyber attacks. </td>
            </tr>
        </table>
        <p><a href="../static/resume.pdf" target="_blank">My Resume (PDF)</a></p>
    </div>
    <footer>© 2025 designed and coded by Cindy Wang</footer>


</body>
</html>