* {
    font-family: "Roboto";
    font-optical-sizing:auto;
    font-weight:300;
    font-style: normal;
    font-variation-settings:unset;

    padding: 5px;
    margin: 5px;
}

#webname {
    background-color: #e062bf;
}

nav a {
    text-decoration: none;
    color: #e062bf;
    margin-right: 15px;
}

th {
    padding: 12px;
    background-color: #e062bf;
    color: grey;
    width: fit-content;
}

tr:nth-child(odd) {
    background-color: #e24242;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}