* {
    font-family: "Roboto";
    font-optical-sizing:auto;
    font-weight:300;
    font-style: normal;
    font-variation-settings:unset;

    padding: 5px;
    margin: 5px;
}

#webname {
    background-color: #e062bf;
}

nav a {
    text-decoration: none;
    color: #e062bf;
    margin-right: 15px;
}

th {
    padding: 12px;
    background-color: #e062bf;
    color: grey;
    width: fit-content;
}

tr:nth-child(odd) {
    background-color: #e24242;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}

/* ul{
    display:none;
} */

#full {
    display: none;
}

#readLess{
    display:none;
}

.funIMG{
    border-radius: 100%;
    width:500px;
    height:auto;
    box-shadow: 10px 10px 20px rgba(100, 0, 0, 0.95);
}

/* .container{
    border-radius: 100%;
    display: inline-block;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

} */

.mainLayout{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
}
.item1,.item2,.item3,.item4{
    width:40vw;
    margin:auto;
    justify-content: center;

}

button{
    background-color:#e062bf;
}


.container{
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "mainimg"
        "maincontent"
        "bottomcontent"
        "footer";

}



.header{ 
    grid-area: header; 
    background: red; 
    padding: 10px;
}
.nav{ 
    grid-area: nav; 
}
.mainImg  { 
    grid-area: mainimg; 
    background: orange; 
    padding: 10px; 
    display:flex;
    flex:1;
}
.maincontent{ 
    grid-area: maincontent; 
    background: yellow; 
    padding: 10px; 
    display:flex;
    flex:1;
}
.bottomcontent{ 
    grid-area: bottomcontent; 
    background: green; 
    padding: 10px; }
.footer{ 
    grid-area: footer; 
    text-align: center; 
    background: blue; 
    padding: 10px; 
}
@keyframes colorChange {
    0% {
      color: white;
      background-color: #e062bf;
    }
    50% {
      color: black;
      background-color: #fcb5e2;
    }
    100% {
      color: white;
      background-color: #e062bf;
    }
  }
  
  #webname {
    animation: colorChange 3s ease-in-out infinite;
  }

main{
    display: flex;
}

.topnav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  
  .topnav a {
    display: block;
  }
  
  
  @media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
      }
    
    .mainImg,
    .maincontent {
        flex: none;
        width: 100%;
    }
    .topnav a:not(.icon) {
        display: none;
      }
    
      .topnav a.icon {
        display: block;
        margin-left: auto;
      }
    
      .topnav.responsive {
        flex-direction: column;
        align-items: flex-start;
      }

   
  }


